/* Alterar todos os link */
a {
    color: black; /* cor negra */
    text-decoration: none; /* retirar o sublinhado */
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.destaque-projeto {
    line-height: 700%;
    padding-top: 100px;
}

footer{
    background-color: #060606;
    text-align: center;
    color:white ;
    background-image:url(images\Fundo_Destaque_Projeto.jpg);
  

  }